
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0px;
}
.all
{
    background-color:hsl(30, 38%, 92%) ;
    height: 500px;
    width: 1440px;
    justify-content: center;
    align-items: center;
    display: flex;
      
}
.product
{
    background-color:white ;
    background-image: url(./images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    border-radius: 10px;
    width:550px;
    height: 400px;
    position: absolute;   
}
.information
{ 
    position: absolute;
    left: 50%;
    padding: 15px;
}
.newprice
{
    color: #3B8369;
    font-weight: 700;
    font-family: 'Fraunces';
    width:200px;
    font-size: 30px;
   
}
.oldprice
{
    font-weight: 300;
    font-family: 'Montserrat';
    font-size: 13px;
    position: relative;
    text-align: right;
    left: 6%;
    top: -5px;
    color: hsl(228, 12%, 48%);   
}
.description
{
   font-weight: 500 ;
   font-family: 'Montserrat';
   font-size: 14px;
   color: hsl(228, 12%, 48%);
   
}
.description:first-child
{
    position:absolute;
    margin-top: 1px;
    letter-spacing : 3px;
}
.name-product
{
    font-weight: 700;
    font-family: 'Fraunces';
    width:200px;
    font-size: 30px;
    line-height:30px;
}

button
{
    background-color: #3B8369; 
    background-image: url(./images/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 25%;
    border: none;
    position:absolute;
     top: 110%;
     left: 50%;
     transform: translate(-50%,-50%);
     height: 17%;
     width: 90%;
     font-weight: 700 ;
     font-family: 'Montserrat';
     font-size: 14px;
     color: white;
     border-radius: 10px;   
}
.attribution
{
    position: relative;
    left: -33%;
    top:15%;
   
}
@media (max-width :380px)
{
   
.all
{
    height: 667px;
    width: 375px;
}
 
   .product{
    background-image: url(./images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width:325px;
    height: 580px;
    
   }
   .information
   { 
       position: absolute;
       left: 1%;
       bottom: 12%;
   }
   .name-product
{ 
    width:250px;
}
.attribution
{
    display: none;
    
}


}
    



